@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* body {
  @apply bg-slate-200;
} */

.dark body {
  @apply bg-gray-900 text-white;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

.dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f26b5a;
} 
.dark .swiper-pagination-bullet {
  background: white;
} 

.swiper-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Adjust the gradient for dark mode */
.swiper-container::before,
.swiper-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  z-index: 10;
}

/* Dark mode gradient */
.dark .swiper-container::before {
  background: linear-gradient(to right, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0.5) 50%, rgba(17, 24, 39, 0) 100%);
}

.dark .swiper-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0.5) 50%, rgba(17, 24, 39, 0) 100%);
}

/* Light mode gradient */
.swiper-container::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
}

.swiper-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
}

.swiper-slide {
  transition: all 0.3s ease;
  opacity: 0.50;
  filter: grayscale(0.5);
}

.swiper-slide-active {
  opacity: 1;
  filter: grayscale(0);
}

.swiper-slide-prev {
  /* opacity: 0.7;  */
  filter: grayscale(0);
}

.swiper-slide-next {
  /* opacity: 0.7;  */
  filter: grayscale(0);
}

@media(max-width: 600px) {
  .swiper-container::before,
  .swiper-container::after,
  .dark .swiper-container::before,
  .dark .swiper-container::after {
    background: transparent;
  }
}